h1{
    font-size: 2.5rem; 
    font-weight: bold; 
    color: #007bff; 
    text-align: center; 
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 8px; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; 
    margin-bottom: 50px;
  }
  h1:hover {
    color: #12044f; 
    border-color: #ddd; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }